<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">

            <ui:define name="content">
                <h:form>

                    <p:panel header="Welcome to course administration system!" style="width: 360px">
                        <h:panelGrid columns="2" cellpadding="20">
                            <p:outputLabel value="You are logged in as:"  />
                            <p:outputLabel value="#{request.userPrincipal.name}" style="font-weight: bold; font-size: 18px" />

                        </h:panelGrid>

                    </p:panel>
                </h:form>

            </ui:define>

        </ui:composition>

    </body>
</html>
