<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Browse and Manage Teacher</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">
                <p:panel header="Edit teacher" style="width: 360px">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:form>
                            <p><p:outputLabel value="First name:" for="tFirstName" />
                                <p:inputText id="tFirstName" required="true"  size="32" value="#{controller.dataBb.selectedTeacher.firstname}" validatorMessage="Invalid  character for name">
                                    <f:validateRegex pattern="^[a-zA-ZåäöéÅÄÖÉ -]+$" />
                                </p:inputText></p>
                            <p> <p:outputLabel value="Last name:" for="tLastName" />
                                <p:inputText  required="true" id="tLastName" size="32" value="#{controller.dataBb.selectedTeacher.lastname}" validatorMessage="Invalid  character for name">
                                    <f:validateRegex pattern="^[a-zA-ZåäöéÅÄÖÉ -]+$" />
                                </p:inputText></p>

                            <p:commandButton id="updateTeacher" value="Update" ajax="false" action="#{controller.updateTeacher()}" />
                            <p:commandButton id="deleteTeacher" value="Delete" ajax="false" action="#{controller.deleteTeacher(controller.dataBb.selectedTeacher.teacherId)}" />
                            <p:commandButton id="back" value="Back" ajax="false" action="#{controller.goToTeacherList()}" />
                            <p>
                                <p:messages />
                            </p>
                        </h:form>
                    </h:panelGrid>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

