<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">


                <p:panel header="Add teacher" >
                    <h:panelGrid columns="2" cellpadding="10">

                        <h:form>

                            <p><p:outputLabel value="First name:" for="tFirstName" />
                                <p:inputText id="tFirstName" required="true"  size="32" value="#{controller.teacherFirstName}" validatorMessage="Invalid  character for name">
                                    <f:validateRegex pattern="^[a-zA-ZåäöéÅÄÖÉ -]+$" />
                                </p:inputText></p>
                            <p>  <p:outputLabel value="Last name:" for="tLastName" />
                                <p:inputText  required="true" id="tLastName" size="32" value="#{controller.teacherLastName}" validatorMessage="Invalid  character for name">
                                    <f:validateRegex pattern="^[a-zA-ZåäöéÅÄÖÉ -]+$" />
                                </p:inputText></p>


                            <p>
                                <p:messages />
                            </p>
                            <p>
                                <p:commandButton id="tRegister" value="Add" ajax="false" actionListener="#{controller.registerTeacher()}" />
                            </p>
                        </h:form>

                        <h:form>
                            <p:dataTable id="teacherList" var="tlist" value="#{controller.getTeacherList()}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" rows="15" style="margin-bottom:20px">
                                <f:facet name="header">
                                    Teacher list
                                </f:facet>
                                <p:column headerText="Id (click link for edit)">
                                    <p:commandLink id="teacherDetail" ajax="false"
                                                   action="#{controller.showTeacherEdit(tlist.teacherId)}" >
                                        <h:outputText id="teacherId" value="#{tlist.teacherId}"/>
                                    </p:commandLink>
                                </p:column>

                                <p:column headerText="First name">
                                    <h:outputText value="#{tlist.firstname}" />
                                </p:column>

                                <p:column headerText="Last name">
                                    <h:outputText value="#{tlist.lastname}" />
                                </p:column>
                            </p:dataTable>
                        </h:form>

                    </h:panelGrid>
                </p:panel>
            </ui:define>

        </ui:composition>

    </h:body>
</html>

