<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">

            <ui:define name="content">
                <p:panel header="#{controller.dataBb.selectedStudent}" >
                    <h:panelGrid columns="2" cellpadding="10">
                        <p:panelGrid columns="2">
                            <f:facet name="header">
                                Detailed info
                            </f:facet>

                            <h:outputText value="Sex:" />
                            <h:outputText value="#{controller.dataBb.selectedStudent.sex}" />
                            <h:outputText value="Date of birth:" />
                            <h:outputText value="#{controller.getDateString(controller.dataBb.selectedStudent.dob, 0)}" />
                            <h:outputText value="E-mail:" />
                            <h:outputText value="#{controller.dataBb.selectedStudent.email}" />
                            <h:outputText value="Phone:" />
                            <h:outputText value="#{controller.dataBb.selectedStudent.phonenr}" />
                            <h:outputText value="Address:" />
                            <h:outputText value="#{controller.dataBb.selectedStudent.address}" />
                            <h:outputText value="Post code:" />
                            <h:outputText value="#{controller.dataBb.selectedStudent.postcode}" />
                            <h:outputText value="Post town:" />
                            <h:outputText value="#{controller.dataBb.selectedStudent.posttown}" />
                        </p:panelGrid>
                        <p:dataTable var="rclist" value="#{controller.dataBb.selectedStudent.courseCollection}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
                                     paginator="true" rows="20" style="margin-bottom:20px">
                            <f:facet name="header">
                                Registered course
                            </f:facet>
                            <p:column headerText="Id">
                                <h:outputText id="courseId" value="#{rclist.courseId}"/>
                            </p:column>

                            <p:column headerText="Course name">
                                <h:outputText value="#{rclist.name}" />
                            </p:column>

                            <p:column headerText="Level">
                                <h:outputText value="#{rclist.level}" />
                            </p:column>
                            <p:column headerText="Language">
                                <h:outputText value="#{rclist.language}" />
                            </p:column>

                            <p:column headerText="Start">
                                <h:outputText value="#{controller.getDateString(rclist.start, 0)}" />
                            </p:column>
                            <p:column headerText="End">
                                <h:outputText value="#{controller.getDateString(rclist.end, 0)}" />
                            </p:column>
                            <p:column headerText="Responsible">
                                <h:outputText value="#{rclist.responsible}" />
                            </p:column>
                        </p:dataTable>
                    </h:panelGrid>
                    <h:form>
                        <p:commandButton id="back" value="Back" ajax="false" action="#{controller.goToStudentList()}" />
                    </h:form>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
