<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Browse and Manage Student</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">
                <p:panel header="Edit Student" >
                    <h:panelGrid columns="2" cellpadding="10">

                        <h:form>
                            <p> <p:outputLabel value="First name:" for="sFirstName" />
                                <p:inputText id="sFirstName" required="true"  size="20" value="#{controller.dataBb.selectedStudent.firstname}" validatorMessage="Invalid  character for name">
                                    <f:validateRegex pattern="^[a-zA-ZåäöéÅÄÖÉ -]+$" />
                                </p:inputText></p>
                            <p> <p:outputLabel value="Last name:" for="sLastName" />
                                <p:inputText  required="true" id="sLastName" size="20" value="#{controller.dataBb.selectedStudent.lastname}" validatorMessage="Invalid  character for name">
                                    <f:validateRegex pattern="^[a-zA-ZåäöéÅÄÖÉ -]+$" />
                                </p:inputText></p>
                            <p> <p:outputLabel for="sSex"  value="Sex:" />
                                <p:selectOneMenu id="sSex"  required="true" value="#{controller.dataBb.selectedStudent.sex}">
                                    <f:selectItem itemLabel="male" itemValue="male" />
                                    <f:selectItem itemLabel="female" itemValue="female" />
                                </p:selectOneMenu></p>
                            <p> <p:outputLabel for="studentDob" value="Date of birth:" />
                                <p:calendar  id="studentDob" pattern="yyyy-MM-dd" value="#{controller.dataBb.selectedStudent.dob}"  navigator="true" required="true" yearRange="#{controller.dataBb.curYear-100}:#{controller.dataBb.curYear}" /></p>
                            <p> <p:outputLabel value="E-mail:" for="sEmail" />
                                <p:inputText id="sEmail" required="true"  size="20" value="#{controller.dataBb.selectedStudent.email}" validatorMessage="Invalid  e-mail address">
                                    <f:validateRegex pattern="^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$" />
                                </p:inputText></p>
                            <p>  <p:outputLabel value="Phone:" for="sPhone" />
                                <p:inputText id="sPhone" required="true"  size="20" value="#{controller.dataBb.selectedStudent.phonenr}" validatorMessage="Invalid phone number">
                                    <f:validateLength minimum="8" maximum="20" />
                                    <f:validateRegex pattern="[0-9\-\+]+" />
                                </p:inputText></p>
                            <p> <p:outputLabel value="Adress:" for="sAddress" />
                                <p:inputText id="sAddress" size="20" value="#{controller.dataBb.selectedStudent.address}" /></p>
                            <p>  <p:outputLabel value="Post code:" for="sPostcode" />
                                <p:inputText id="sPostcode" size="20" value="#{controller.dataBb.selectedStudent.postcode}" /></p>
                            <p> <p:outputLabel value="Post town:" for="sPosttown" />
                                <p:inputText id="sPosttown" size="20" value="#{controller.dataBb.selectedStudent.posttown}" /></p>

                            <p>
                                <p:messages />
                            </p>
                            <p>

                                <p:commandButton id="updateStudent" value="Update" ajax="false" action="#{controller.updateStudent()}" />
                                <p:commandButton id="deleteStudent" value="Delete" ajax="false" action="#{controller.deleteStudent(controller.dataBb.selectedStudent.studentId)}" />
                                <p:commandButton id="back" value="Back" ajax="false" action="#{controller.goToStudentList()}" />
                            </p>
                        </h:form>

                    </h:panelGrid>
                </p:panel>

            </ui:define>
        </ui:composition>
    </h:body>
</html>

