<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Student</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">

                <p:panel header="Add student" >
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:form>
                            <p:outputLabel value="First name:" for="sFirstName" />
                            <p:inputText id="sFirstName" required="true"  size="20" value="#{controller.studentFirstName}" validatorMessage="Invalid  character for name">
                                <f:validateRegex pattern="^[a-zA-ZåäöéÅÄÖÉ -]+$" />
                            </p:inputText>
                            <p:outputLabel value="Last name:" for="sLastName" />
                            <p:inputText  required="true" id="sLastName" size="20" value="#{controller.studentLastName}" validatorMessage="Invalid  character for name">
                                <f:validateRegex pattern="^[a-zA-ZåäöéÅÄÖÉ -]+$" />
                            </p:inputText>
                            <p> <p:outputLabel for="sSex"  value="Sex:" />
                                <p:selectOneMenu id="sSex"  required="true" value="#{controller.studentSex}">
                                    <f:selectItem itemLabel="male" itemValue="male" />
                                    <f:selectItem itemLabel="female" itemValue="female" />
                                </p:selectOneMenu></p>
                            <p:outputLabel for="studentDob" value="Date of birth:" />
                            <p:calendar  id="studentDob" pattern="yyyy-MM-dd" value="#{controller.dob}"  navigator="true" required="true" yearRange="#{controller.dataBb.curYear-100}:#{controller.dataBb.curYear}" />
                            <p:outputLabel value="E-mail:" for="sEmail" />
                            <p:inputText id="sEmail" required="true"  size="20" value="#{controller.studentEMail}" validatorMessage="Invalid  e-mail address">
                                <f:validateRegex pattern="^([a-zA-Z0-9])+([a-zA-Z0-9\._-])*@([a-zA-Z0-9_-])+([a-zA-Z0-9\._-]+)+$" />
                            </p:inputText>
                            <p:outputLabel value="Phone:" for="sPhone" />
                            <p:inputText id="sPhone" required="true"  size="20" value="#{controller.studentPhonenumber}" validatorMessage="Invalid phone number">
                                <f:validateLength minimum="8" maximum="20" />
                                <f:validateRegex pattern="[0-9\-\+]+" />
                            </p:inputText>
                            <p:outputLabel value="Adress:" for="sAddress" />
                            <p:inputText id="sAddress" size="20" value="#{controller.studentAddress}" />
                            <p:outputLabel value="Post code:" for="sPostcode" />
                            <p:inputText id="sPostcode" size="20" value="#{controller.studentPostcode}" />
                            <p:outputLabel value="Post town:" for="sPosttown" />
                            <p:inputText id="sPosttown" size="20" value="#{controller.studentPosttown}" />

                            <p>
                                <p:messages />
                            </p>
                            <p>
                                <p:commandButton id="sRegister" value="Add" ajax="false" actionListener="#{controller.registerStudent()}" />
                            </p>
                        </h:form>



                        <h:form>
                            <p:dataTable var="slist" value="#{controller.getStudentList()}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" rows="15" style="margin-bottom:20px">
                                <f:facet name="header">
                                    Student list
                                </f:facet>
                                <p:column headerText="Id (click link for edit)">
                                    <h:commandLink id="studentDetail"
                                                   action="#{controller.showStudentEdit(slist.studentId)}">
                                        <h:outputText id="studentId" value="#{slist.studentId}"/>
                                    </h:commandLink>
                                </p:column>

                                <p:column headerText="First name">
                                    <h:outputText value="#{slist.firstname}" />
                                </p:column>

                                <p:column headerText="Last name">
                                    <h:outputText value="#{slist.lastname}" />
                                </p:column>
                                <p:column headerText="E-mail">
                                    <h:outputText value="#{slist.email}" />
                                </p:column>
                                <p:column headerText="Detailed info">
                                    <h:commandLink id="sDetail"
                                                   action="#{controller.showDetailedInfo(slist.studentId)}">
                                        <h:outputText id="browseInfo" value="show"/>
                                    </h:commandLink>
                                </p:column>

                            </p:dataTable>
                        </h:form>
                    </h:panelGrid>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

