<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html">

    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link href="/CourseAdminSystem-war/resources/css/default.css" rel="stylesheet" type="text/css" />
        <link href="/CourseAdminSystem-war/resources/css/cssLayout.css" rel="stylesheet" type="text/css" />
        <title>Course Administration System</title>
    </h:head>

    <h:body>

        <div id="top" class="top_content">
            <ui:insert name="top">
                <ui:include src="/view/header.xhtml" />
            </ui:insert>
        </div>

        <div id="content" class="center_content">
            <ui:insert name="content"></ui:insert>
        </div>

        <div id="bottom" class="bottom_content">
            <ui:insert name="bottom">
                <ui:include src="/view/footer.xhtml" />
            </ui:insert>
        </div>

    </h:body>

</html>
