<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
    </h:head>
    <h:body>
        <div class="header_content">
            <h1>Course Administration System</h1>
            <h3>#{controller.logininfo}</h3>
        </div>
        <h:form>
            <p:breadCrumb>
                <p:menuitem value="Start" ajax="false" action="#{controller.backToStart()}" />
                <p:menuitem value="Manage teacher" ajax="false" action="#{controller.goToTeacherList()}" />
                <p:menuitem value="Manage student" ajax="false" action="#{controller.goToStudentList()}" />
                <p:menuitem value="Manage course" ajax="false" action="#{controller.goToCourseList()}" />
                <p:menuitem value="Manage admin" ajax="false" action="#{controller.goToManageAdmin()}" />
                <p:menuitem value="Log out" ajax="false" action="#{authorizationBB.logout()}" />
            </p:breadCrumb>
        </h:form>
    </h:body>
</html>

