body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;
    margin: 30px;
    padding: 160px 0 50px 0;
    background: url('../images/background.jpeg') center center / cover no-repeat fixed;
}

* html body{
    overflow: hidden;
}




.header_content h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #FFF;
    vertical-align: middle;
    text-align: center;
    text-shadow:
        0 1px 0 #DDD,
        0 2px 0 #CCC,
        0 3px 0 #BBB,
        0 4px 0 #AAA,
        0 5px 0 #999,
        0 6px 0 #888,
        0 7px 0 #777,
        0 8px 0 #666,
        0 9px 12px #444;
}

.header_content h3 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    text-align: right;
    margin-right: 30px;
}

a:link, a:visited {
    color: #045491;
    font-weight : bold;
    text-decoration: underline;
}

