<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Manage adminuser</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">
                <p:panel header="Manage adminuser" style="width: 640px">
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:form >
                            <p><p:outputLabel value="Username: "  />
                                <p:inputText id="userName" required="true" value="#{controller.username}" size="16" /></p>

                            <p><p:outputLabel value="Password: "/>
                                <p:password id="password" required="true" value="#{controller.password}" size="16" /></p>


                            <p>
                                <p:messages />
                            </p>
                            <p> <p:commandButton value="Register" ajax="false" action="#{controller.registerAdminuser()}"/></p>

                        </h:form>
                        <h:form>
                            <p:dataTable id="adminDT" var="admin" value="#{controller.getAdminuserList()}" selection="#{controller.dataBb.selectedAdminuserList}" rowKey="#{admin.username}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" rows="15" style="margin-bottom:20px">
                                <f:facet name="header">
                                    Registered Adminuser
                                </f:facet>
                                <p:column selectionMode="multiple" style="width: 100px" />
                                <p:column headerText="Username">
                                    <h:outputText value="#{admin.username}" />
                                </p:column>

                            </p:dataTable>
                            <p><p:commandButton update="adminDT" value="Remove" ajax="false" action="#{controller.removeAdminusers()}" /></p>
                        </h:form>
                    </h:panelGrid>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

