<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">

    <body>

        <ui:composition template="/view/casTemplate.xhtml">

            <ui:define name="content">
                <h:form>
                    <p:panel header="Failed to login" style="width: 320px">
                        <h:panelGrid columns="2" columnClasses="column" cellpadding="5">
                            <h:outputText value="Please enter username and password correctly." style="font-size:14px;"/>

                            <p:commandButton value="Back to login" style="font-size:14px;" action="login"/>


                        </h:panelGrid>

                    </p:panel>
                </h:form>
            </ui:define>

        </ui:composition>

    </body>
</html>
