<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Attendance list</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">
                <p:panel header="Attendance for slot: #{controller.getDateString(controller.dataBb.selectedSlot.startdate, 1)} - #{controller.getSlotEnd(controller.dataBb.selectedSlot.startdate, controller.dataBb.selectedSlot.duration)}" style="width: 560px">
                    <h:form>

                        <p:dataTable id="attList" var="att" sortBy="#{att.student.studentId}" value="#{controller.getAttendanceListBySlot(controller.dataBb.selectedSlot.slotId)}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" rows="15" style="margin-bottom:20px">
                            <p:column headerText="Student">
                                <h:outputText value="#{controller.getCasFactoryManager().getStudentLogic().findStudent(att.student.studentId)}" />
                            </p:column>
                            <p:column headerText="Attendance" style="width: 100px">
                                <p:selectBooleanCheckbox value="#{att.status}" />
                            </p:column>
                        </p:dataTable>
                        <p>
                            <p:messages />
                        </p>
                        <p:commandButton id="update" value="Update" ajax="false" action="#{controller.updateAttendanceList()}" />
                        <p:commandButton id="back" value="Back" ajax="false" action="#{controller.goToCourseInfo()}" />
                    </h:form>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

