<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">

            <ui:define name="content">
                <p:panel header="Course detail &amp; Attendance list" >
                    <h:panelGrid columns="3" cellpadding="10">
                         <p:panelGrid columns="2" style="width:240px">
                            <f:facet name="header">
                                Detailed info
                            </f:facet>

                            <h:outputText value="Name:" />
                            <h:outputText value="#{controller.dataBb.selectedCourse.name}" />
                            <h:outputText value="Level:" />
                            <h:outputText value="#{controller.dataBb.selectedCourse.level}" />
                            <h:outputText value="Language:" />
                            <h:outputText value="#{controller.dataBb.selectedCourse.language}" />
                            <h:outputText value="Start:" />
                            <h:outputText value="#{controller.getDateString(controller.dataBb.selectedCourse.start, 0)}" />
                            <h:outputText value="End:" />
                            <h:outputText value="#{controller.getDateString(controller.dataBb.selectedCourse.end, 0)}" />
                            <h:outputText value="Max. students:" />
                            <h:outputText value="#{controller.dataBb.selectedCourse.maxstudents}" />
                            <h:outputText value="Responsible:" />
                            <h:outputText value="#{controller.dataBb.selectedCourse.responsible}" />
                        </p:panelGrid>
                        <h:form>
                            <p:dataTable var="schlist" value="#{controller.getSlotList(controller.dataBb.selectedCourse.courseId)}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" rows="15" style="margin-bottom:20px">
                                <f:facet name="header">
                                    Schedule
                                </f:facet>
                                <p:column headerText="Id (click link for attendance list)">
                                    <h:commandLink id="attendanceSlot"
                                                   action="#{controller.showAttendanceList(schlist.slotId)}">
                                        <h:outputText id="slotId" value="#{schlist.slotId}"/>
                                    </h:commandLink>
                                </p:column>

                                <p:column headerText="Start">
                                    <h:outputText value="#{controller.getDateString(schlist.startdate, 1)}" />
                                </p:column>

                                <p:column headerText="End">
                                    <h:outputText value="#{controller.getSlotEnd(schlist.startdate, schlist.duration)}" />
                                </p:column>
                                <p:column headerText="Room">
                                    <h:outputText value="#{schlist.room}" />
                                </p:column>
                            </p:dataTable>
                        </h:form>
                        <p:dataTable var="rsList" sortBy="#{rsList.studentId}" value="#{controller.dataBb.selectedCourse.studentCollection}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" rows="15" style="margin-bottom:20px; width: 300px">
                            <f:facet name="header">
                                Registered Students
                            </f:facet>
                            <p:column headerText="Student">
                                <h:outputText id="rs" value="#{rsList.toString()}"/>
                            </p:column>

                        </p:dataTable>

                        <h:form>
                            <p:commandButton id="back" value="Back" ajax="false" action="#{controller.goToCourseList()}" />
                            <p>
                                <p:messages />
                            </p>
                        </h:form>

                    </h:panelGrid>
                </p:panel>
            </ui:define>

        </ui:composition>

    </body>
</html>
