<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Course</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">
                <p:panel header="Add course" >
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:form>
                            <p:outputLabel value="Name:" for="courseName" />
                            <p:inputText id="courseName" required="true"  size="20" value="#{controller.courseName}" />

                            <p> <p:outputLabel for="courseLevel"  value="Level:" />
                                <p:selectOneMenu id="courseLevel"  required="true" value="#{controller.courseLevel}">
                                    <f:selectItem itemLabel="basic" itemValue="basic" />
                                    <f:selectItem itemLabel="intermediate" itemValue="intermediate" />
                                    <f:selectItem itemLabel="advanced" itemValue="advanced" />
                                </p:selectOneMenu></p>
                            <p><p:outputLabel for="courseLanguage"  value="Language:" />
                                <p:selectOneMenu id="courseLanguage"  required="true" value="#{controller.courseLanguage}">
                                    <f:selectItem itemLabel="English" itemValue="english" />
                                    <f:selectItem itemLabel="Swedish" itemValue="swedish" />
                                </p:selectOneMenu></p>
                            <p>
                                <p:outputLabel for="start" value="Start:" />
                                <p:calendar  id="start" pattern="yyyy-MM-dd" value="#{controller.startDate}"  navigator="true" required="true" yearRange="#{controller.dataBb.curYear}:#{controller.dataBb.curYear+20}" /></p>
                            <p>
                                <p:outputLabel for="end" value="End:" />
                                <p:calendar  id="end" pattern="yyyy-MM-dd" value="#{controller.endDate}"  navigator="true" required="true" yearRange="#{controller.dataBb.curYear}:#{controller.dataBb.curYear+20}" /></p>
                            <p>
                                <p:outputLabel for="maxStudent" value="Max. student:" />
                                <p:spinner id="maxStudent" required="true" value="#{controller.maxStudents}" stepFactor="5" min="0" max="200" />

                            </p>

                            <p><p:outputLabel for="teacherListMenu" value="Responsible teacher:" />
                                <p:selectOneMenu id="teacherListMenu" required="true" value="#{controller.responsibleTeacherId}" style="width:125px">
                                    <f:selectItems value="#{controller.getTeacherList()}" var="t" itemValue="#{t.teacherId}" itemLabel="#{t.toString()}"/>
                                </p:selectOneMenu></p>

                            <p>
                                <p:messages />
                            </p>
                            <p>
                                <p:commandButton id="courseRegister" value="Add" ajax="false" actionListener="#{controller.registerCourse()}" />
                            </p>
                        </h:form>



                        <h:form>
                            <p:dataTable id="courseList" var="clist" value="#{controller.getCourseList()}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" rows="15" style="margin-bottom:20px">
                                <f:facet name="header">
                                    Course list
                                </f:facet>
                                <p:column headerText="Id (click link for edit)">
                                    <h:commandLink id="courseDetail"
                                                   action="#{controller.showCourseEdit(clist.courseId)}">
                                        <h:outputText id="courseId" value="#{clist.courseId}"/>
                                    </h:commandLink>
                                </p:column>

                                <p:column headerText="Course name">
                                    <h:outputText value="#{clist.name}" />
                                </p:column>
                                <p:column headerText="Schedule">
                                    <h:commandLink id="scheduleEdit"
                                                   action="#{controller.showManageSchedule(clist.courseId)}">
                                        <h:outputText id="manageSchedule" value="manage"/>
                                    </h:commandLink>
                                </p:column>
                                <p:column headerText="Register student">
                                    <h:commandLink id="registerStudentCourse"
                                                   action="#{controller.showRegisterStudent(clist.courseId)}">
                                        <h:outputText id="addStudentCourse" value="manage"/>
                                    </h:commandLink>
                                </p:column>
                                <p:column headerText="Course detail &amp; Attendance List">
                                    <h:commandLink id="scheduleDetail"
                                                   action="#{controller.showCourseInfo(clist.courseId)}">
                                        <h:outputText id="manageAttendanceList" value="manage"/>
                                    </h:commandLink>
                                </p:column>
                            </p:dataTable>
                        </h:form>
                    </h:panelGrid>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

