<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Schedule</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">
                <p:panel header="Course: #{controller.dataBb.selectedCourse.name} (#{controller.getDateString(controller.dataBb.selectedCourse.start, 0)} - #{controller.getDateString(controller.dataBb.selectedCourse.end, 0)})" >
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:form>

                            <p:outputLabel for="slotStart" value="Slot:" />
                            <p:calendar id="slotStart" value="#{controller.startTime}" pattern="yyyy-MM-dd HH:mm" pages="1"/>
                            <p> <p:outputLabel for="duration"  value="Duration:" />
                                <p:selectOneRadio id="duration"  required="true" value="#{controller.duration}">
                                    <f:selectItem itemValue="30" itemLabel="30" />
                                    <f:selectItem itemValue="60" itemLabel="60" />
                                    <f:selectItem itemValue="90" itemLabel="90" />
                                    <f:selectItem itemValue="120" itemLabel="120" />
                                    <f:selectItem itemValue="150" itemLabel="150" />
                                    <f:selectItem itemValue="180" itemLabel="180" />
                                </p:selectOneRadio></p>
                            <p:outputLabel value="Room:" for="room" />
                            <p:inputText id="room" required="true"  size="20" value="#{controller.room}" />
                            <p>
                                <p:messages />
                            </p>
                            <p>
                                <p:commandButton id="addSlot" value="Add" ajax="false" actionListener="#{controller.registerSlot()}" />
                            </p>
                        </h:form>

                        <h:form>
                            <p:dataTable id="addSlotTD" var="as" value="#{controller.getSlotList(controller.dataBb.selectedCourse.courseId)}" selection="#{controller.dataBb.selectedSlotList}" rowKey="#{as.slotId}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" rows="15" style="margin-bottom:20px">
                                <f:facet name="header">
                                    Schedule
                                </f:facet>
                                <p:column selectionMode="multiple" />
                                <p:column headerText="Id">
                                    <h:outputText value="#{as.slotId}" />
                                </p:column>
                                <p:column headerText="Start">
                                    <h:outputText value="#{controller.getDateString(as.startdate, 1)}" />
                                </p:column>
                                <p:column headerText="End">
                                    <h:outputText value="#{controller.getSlotEnd(as.startdate, as.duration)}" />
                                </p:column>
                                <p:column headerText="Room">
                                    <h:outputText value="#{as.room}" />
                                </p:column>
                            </p:dataTable>
                            <p><p:commandButton update="addSlotTD" value="Remove" action="#{controller.removeSlotFromSchedule()}" />
                            </p>
                        </h:form>
                        <h:form>
                            <p:commandButton id="back" value="Back" ajax="false" action="#{controller.goToCourseList()}" />
                        </h:form>
                    </h:panelGrid>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

