<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Manage Course</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">
                <p:panel header="Edit course" >
                    <h:form>
                        <p:outputLabel value="Name:" for="courseName" />
                        <p:inputText id="courseName" required="true"  size="20" value="#{controller.dataBb.selectedCourse.name}" />

                        <p> <p:outputLabel for="courseLevel"  value="Level:" />
                            <p:selectOneMenu id="courseLevel"  required="true" value="#{controller.dataBb.selectedCourse.level}">
                                <f:selectItem itemLabel="basic" itemValue="basic" />
                                <f:selectItem itemLabel="intermediate" itemValue="intermediate" />
                                <f:selectItem itemLabel="advanced" itemValue="advanced" />
                            </p:selectOneMenu></p>
                        <p><p:outputLabel for="courseLanguage"  value="Language:" />
                            <p:selectOneMenu id="courseLanguage"  required="true" value="#{controller.dataBb.selectedCourse.language}">
                                <f:selectItem itemLabel="English" itemValue="english" />
                                <f:selectItem itemLabel="Swedish" itemValue="swedish" />
                            </p:selectOneMenu></p>
                        <p>
                            <p:outputLabel for="start" value="Start:" />
                            <p:calendar  id="start" pattern="yyyy-MM-dd" value="#{controller.dataBb.selectedCourse.start}"  navigator="true" required="true" yearRange="#{controller.dataBb.curYear}:#{controller.dataBb.curYear+20}" /></p>
                        <p>
                            <p:outputLabel for="end" value="End:" />
                            <p:calendar  id="end" pattern="yyyy-MM-dd" value="#{controller.dataBb.selectedCourse.end}"  navigator="true" required="true" yearRange="#{controller.dataBb.curYear}:#{controller.dataBb.curYear+20}" /></p>

                        <p> <p:outputLabel for="maxStudent" value="Max. student:" />
                            <p:spinner id="maxStudent" required="true" value="#{controller.dataBb.selectedCourse.maxstudents}" stepFactor="5" min="0" max="200" />
                        </p>
                        <p><p:outputLabel for="teacherListMenu" value="Responsible teacher:" />
                            <p:selectOneMenu id="teacherListMenu" value="#{controller.dataBb.selectedResponsibleTeacherId}" style="width:125px">
                                <f:selectItems value="#{controller.getTeacherList()}" var="t" itemValue="#{t.teacherId}" itemLabel="#{t.toString()}"/>
                            </p:selectOneMenu></p>

                        <p>
                            <p:messages />
                        </p>
                        <p>


                            <p:commandButton id="updateCourse" value="Update" ajax="false" action="#{controller.updateCourse()}" />
                            <p:commandButton id="deleteCourse" value="Delete" ajax="false" action="#{controller.deleteCourse(controller.dataBb.selectedCourse.courseId)}" />
                            <p:commandButton id="back" value="Back" ajax="false" action="#{controller.goToCourseList()}" />
                        </p>
                    </h:form>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

