<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Course Registration</title>
    </h:head>
    <h:body>
        <f:metadata>
            <f:viewAction action="#{controller.check()}" onPostback="true" phase="INVOKE_APPLICATION"/>
        </f:metadata>
        <ui:composition template="/view/casTemplate.xhtml">
            <ui:define name="content">
                <p:panel header="Manage schedule" style="width:860px" >
                    <h:panelGrid columns="2" cellpadding="10">
                        <h:form>


                            <p><p:outputLabel for="studentAddListMenu" value="Select student:" style="width:160px" />
                                <p:selectOneMenu id="studentAddListMenu" value="#{controller.registerStudentId}">
                                    <f:selectItems value="#{controller.getStudentList()}" var="s" itemValue="#{s.studentId}" itemLabel="#{s.toString()}"/>
                                </p:selectOneMenu></p>

                            <p>
                                <p:messages />
                            </p>

                            <p:commandButton id="addStudent" value="Add" ajax="false" action="#{controller.addStudentToCourse()}" />
                        </h:form>
                        <h:form>
                            <p:dataTable id="regStudentDT" var="rs" sortBy="#{rs.studentId}" value="#{controller.dataBb.selectedCourse.studentCollection}" selection="#{controller.dataBb.selectedStudentList}" rowKey="#{rs.studentId}" paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}" paginator="true" rows="15" style="margin-bottom:20px">
                                
                                
                                <f:facet name="header">
                                    Registered Students: #{controller.calculateLeftAvailability()} students available left.
                                </f:facet>
                                <p:column selectionMode="multiple" style="width: 20px" />
                                <p:column headerText="Id"  style="width:60px">
                                    <h:outputText value="#{rs.studentId}" />
                                </p:column>
                                <p:column headerText="First Name">
                                    <h:outputText value="#{rs.firstname}" />
                                </p:column>
                                <p:column headerText="Last Name">
                                    <h:outputText value="#{rs.lastname}" />
                                </p:column>
                                <p:column headerText="E-mail">
                                    <h:outputText value="#{rs.email}" />
                                </p:column>

                            </p:dataTable>
                            <p><p:commandButton update="regStudentDT" value="Remove" actionListener="#{controller.removeStudentFromCourse()}" /></p>
                        </h:form>
                        <h:form>
                            <p:commandButton id="back" value="Back" ajax="false" action="#{controller.goToCourseList()}" />
                        </h:form>
                    </h:panelGrid>
                </p:panel>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

